// The layout of the website, basically the css grids
nav {
    top: 0;
    position: fixed;
    // display: flex;
}

.navbar {
    overflow: hidden;
    height: 55px ;
    text-align: center;
    // display: block;
    word-spacing: 20px;
    background-color: #f9f9f9;
    // margin-left: 5px; 
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 3px;

    .navbar img {
        height: 50px;
        float: left;
        padding-right: 105px;
    }

    .nav_wrapper{
        padding-left: 70px;

        a{
            width: 201px;
            height: 5.5px;
            font-family: Poppins;
            font-size: 10px;
            line-height: 2.14;
            color: #666666;
            text-decoration: none;
        }
        a:active{
            color: #ee534f;
        }

    }
    .search_container {
        // padding-left: 141px;
        // float: right;
        // margin-right: 20%;
        // margin-bottom: 100%;
        // text-align: center;
        position: relative;
        // left: 78px; (continue to move the search bar and then move the logo)

        form{
            display: flex;
        }
    }
}


// form {
//     width: 200px;
//     margin-top: 5px;
//     margin-right: 15%;
// }

// .search_container{
//     float: right;
//     padding-bottom: 5px;
// }

.landing_page{
    // width: 100%;
    // height: 500px;
    // background-color: #555555;
    // margin-top: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("");


    p{
        width: 700px;
    }
}

